

body {
  display: flex;
  align-content: space-between;
  width: 100%;
  height: 100%;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
}

.title {
  height: 80px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.item {
  padding: 20px 30px;
  height: 250px;
  display: flex;
  align-items: center;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.total-price {
  width: 10px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #87bbee;
  font-weight: 300;
}

.Total-cart {

  margin: 10px;
  font-size: 30px;
  color: rgb(195, 195, 231);
}